python.exe -m pip install --upgrade pip==26.1.1

pip install PySide6==6.11.1
pip install Pillow==12.2.0
pip install torch==2.12.0
pip install torchvision==0.27.0
pip install opencv-python==4.13.0.92
pip install scikit-learn==1.8.0
pip install tqdm==4.67.3
pip install matplotlib==3.10.9
pip install overrides==7.7.0
